body::before, body::after {
	margin: 0;
	padding: 0;
}

body {
  background: linear-gradient(rgb(238, 8, 104), rgb(2, 80, 6));
}

button {
  font-size: 19px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(245, 9, 9, 0.3);
  color:thistle;
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  min-height: 600px;
}

#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(156, 10, 10, 0.616);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  color: cornsilk;
}
