body::before, body::after {
	margin: 0;
	padding: 0;
}

body {
  background-color: rgb(250, 79, 49);
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-color: cornsilk;
  border-style: solid;
  border-width: 15px 15px 15px 15px;
  /* border: 1px solid #333; */
  background: rgb(39, 17, 3);
  color: cornsilk;
  padding: 15px 20px 18px 18px;
  /* border-radius5: 5px; */
  /* box-shadow: 2px 5px 5px #333; */
  min-height: 600px;
}

#new-task-description {
  border-width: 0;  
}

#submit {
  background-color: rgb(43, 97, 128);
  color: cornsilk;
  border-width: 0;
}

#list {
  margin: 10px;
  /* border: 1px solid #333; */
  background: #b0e0fcf6;
  padding: 15px 20px 18px 18px;
  /* border-radius: 5px; */
  /* box-shadow: 2px 5px 5px #333; */
  color: rgb(14, 13, 13);
}

li {
  list-style-type: none;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#remove-button {
  background-color: thistle;
  margin-left: 10px;
  justify-content: flex-end;
  border: none;
  position: absolute;
  color: rgb(250, 79, 49);
}

#remove-button:hover {
  background-color: seashell;
  color:rgb(14, 13, 13);
}